<!DOCTYPE html>
<html>
<head>
    <title>Sửa thông tin sách</title>
</head>
<body>
    <h1>Sửa thông tin sách</h1>
    <form action="/update_book/{{ book_id }}" method="POST">
        <label for="title">Tiêu đề sách:</label>
        <input type="text" id="title" name="title" value="{{ book[1] }}"><br><br>

        <label for="author">Tác giả:</label>
        <input type="text" id="author" name="author" value="{{ book[2] }}"><br><br>

        <label for="year_published">Năm xuất bản:</label>
        <input type="text" id="year_published" name="year_published" value="{{ book[3] }}"><br><br>

        <label for="genre">Thể loại:</label>
        <input type="text" id="genre" name="genre" value="{{ book[4] }}"><br><br>

        <label for="quantity_available">Số lượng có sẵn:</label>
        <input type="text" id="quantity_available" name="quantity_available" value="{{ book[5] }}"><br><br>

        <input type="submit" value="Lưu thay đổi">
    </form>
</body>
</html>
